
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index5</title>
    <script type="text/javascript" src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vue.js"></script>
    <script type="text/javascript" src="~/Scripts/lodash.min.js"></script>
    <script type="text/javascript" src="~/Scripts/axios.min.js"></script>
    <style type="text/css">
        .active{ color: red;}
    </style>
</head>
<body>
<div>
    <div id="app" v-bind:class="{active:isActive}">hello</div>
</div>
<script type="text/javascript">
    var v1 = new Vue({
        el: "#app",
        data: {
            isActive: true,
            hasError: false
        }
    });
</script>
</body>
</html>
